<%= render 'books/side'%>
	<div class="col-xs-9">
<h2>Users</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<!-- 変数内から一つずつ取り出 -->
	<% @users.each do |user| %>
	<!-- とひもついているユーザーの画像データを表示させる -->
	<tbody>
		<tr>
			<td>
			<%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg",size:'40x40'%>
			</td>
			<!-- タイトルにリンク付けする -->
			<td>
			<%= user.name %>
			</td>
			<!-- bodyを表示 -->
			<td><%= link_to'show',user_path(user.id) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<!-- book投稿一覧ここまで -->
</div>
</div>
</div>

