/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
@import 'bootstrap-sprockets';
@import 'bootstrap';


* {
  margin:0; padding:0;
}

.error-massage {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: red;
}

.bomb:before {
  font-family: "Font Awesome 5 Free";
  content: '\f1e2';
  font-weight: 900;
}

.error-massage > li {
    color: red;
    list-style: none;
}
.btn-funky-moon {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    width: 100%;

}
html {
    font-size: 10px;
}

.label {
    font-family: 'M PLUS 1p', sans-serif;
}

body {
    line-height: 1.42857143;
    display: block;
    margin-top: 60px;
    color: #333333;
    background-color: #fff;
    }

div {
    display: block;
    }

div.actions {
    margin-bottom: 10px;
    }

div.field {
    margin-bottom: 10px;
    }

a {
color: #333333;
text-decoration:none;
}

body a:hover {
color: #337ab7;
background-color: black;
text-decoration:underline;
}

header {
    color: white;
    margin: 0,auto;
}

header li {
  display: inline-block;
  padding: 0 15px;
  color: white;
  font-family: 'Glyphicons Halflings';
  }


header .glyphicon {
    position: relative;
    color: #9d9d9d;
    top: 1px;
    margin-right: 5px;
    display: inline-block;

    font-style: normal;
    font-weight: normal;
    line-height: 1;
    }



header .navbar-left span {
    font-size: 20px;
    margin-top: 13px;

    }
header .navbar-right {
    margin-top: 13px;
}

header a:hover {
color: white;
background-color: #222;
text-decoration:none;
}

.col-xs-3, .col-xs-9,{
    float: left;
    }


h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    }


li {
    color: #9d9d9d;
    font-family: 'M PLUS 1p', sans-serif;
    }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    }



.btn-sm, .btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    }

.btn-success {
    color: #666;
    background-color: #5cb85c;
    border-color: #4cae4c;
    }

.btn-danger {
    color: #666;
    }

.btn-info {
    color: #666;
    background-color: #5bc0de;
    border-color: #46b8da;
    }

.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td {
    padding: 8px;
    margin: 33px;
    font-size: 13px;
    font-family: 'M PLUS 1p', sans-serif;

    border-top: 1px solid #ddd;

    }

body > .table>thead:first-child>tr:first-child>th,
body > .table>tbody:first-child>tr:first-child>th {
    border-top: 0;
    }

.btn-block + .btn-block {
    margin-top: 0px;
}


footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    position: absolute;
    bottom: 0;
    }

.info {
    background-color: #fff;
    color: #333333;
}

 .success {
    color: green;
    background-color: #fff;
  }

#theTarget{
    height: 500px;
}
#theTarget>div{
    height: 500px;
    width: 100%;
}
.container{
    height: auto;
}

/*スマートフォンサイズ（767px）以下の際に適応される設定*/
@media screen and (max-width:767px) {
.col-xs-3 {
    width: 90%;
    display: none;
}
.row{
    margin:0 auto;
}
.table{
    float:left;
}
header .glyphicon {
    display: none;
}

header li {
    border:bottom;
}
li {
  border: double 4px #21b384;
  padding: 0.5em 1em 0.5em 2.3em;
  width: 900;
  
  position: relative;
}
ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  width: 900;

  list-style-type: none!important;/*ポチ消す*/
}

/* ---------------------------- */
/* --- ハンバーガーアイコン --- */
/* ---------------------------- */
 
.c-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.p-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 48px;
  height: 48px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #f9d8ae;
  box-shadow: 0 0 2rem transparent;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.p-hamburger:hover,
.p-hamburger:focus {
  box-shadow: 0 0 .5rem rgba(255, 255, 255, .5 );
}

.p-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #f9d8ae;
  -webkit-transition: inherit;
          transition: inherit;
}
.p-hamburger__line::before,
.p-hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
  -webkit-transition: inherit;
          transition: inherit;
}
.p-hamburger__line::before {
  top: -5px;
}
.p-hamburger__line::after {
  top: 5px;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: #f9d8ae;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
}


}